<!DOCTYPE html>
<html>
    <head>
        <title>Spam Detector</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>
    <body>

	<header>
		<div class="container">
		    <h2>Spam or Ham?</h2>
            <h4><a href="/viz">Navigate to charts</a></h4>
	    </div>
	</header>
        <div class="container">
            <img src="https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExcXpuMnoxdXN3cWh2MXQ0cWlqYXJzN3B6aWd0NW9jOGwxejFmdW5sNCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/3oz8xSwIOv5FGhZFjq/giphy.gif"/>

            <form action="/predict" method="POST" class="form" enctype="multipart/form-data">
                <div class="fieldset">
                    <label>Submit .eml file</label>
                    <input type="file" name="file" accept=".eml"/>
                    <input type="submit" value="Upload">
                </div>
                <!-- <input type="submit" class="button" value="predict"> -->
            </form>
        </div>
    </body>
</html>